.cab {
    background-size: 10px 20px;
    background-size: 10% auto;
    background-color: rgb(190, 48, 155);

}
.div {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img {
    width: 300px;
    height: 300px;
}